/* some colors you may find useful:
  #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c
*/

.hello {
    visibility: hidden;
}

.toRemove {
    visibility: hidden;
}

body {
    background-color: rgb(216, 225, 204);
}

/* table {
    border: 2px;
} */

td,
th {
    border: 1px solid black;
}
